@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}
body{
color: #ffffff;
/*background: #86960F;*/
}
#jinrishici-sentence-quanwen{	
	text-align: center;   
    letter-spacing:5px;	
    z-index: 99999;
	position: absolute;left:0;top:0;right:0;bottom:0;  
    margin: auto;    /* 有了这个就自动居中了 */ 

}/* CSS Document */
.s-title{
	font-size:22px;
	margin-top: 30px;
	font-weight: 500;
}
.s-author{
    font-size:16px;
}
.s-content{	
	line-height: 1.6em;
    font-size: 18px;	
	height:68%;
	overflow-x: scroll;
    overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
    overflow: -moz-scrollbars-none;
}
.s-content::-webkit-scrollbar{
    display: none;
}
.s-title-juzi{
	font-size:22px;
	margin-top: 30px;
	font-weight: 500;
}
.s-author-juzi{
font-size:16px;
}
.s-content-juzi {
	line-height: 1.6em;
    font-size: 18px;	
	height:68%;
	overflow-x: scroll;
    overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
    overflow: -moz-scrollbars-none;
}
.s-content-juzi::-webkit-scrollbar{
    display: none;
}

@media all and (orientation : landscape){ /* 横屏的样式 */
.sp{
  writing-mode:tb-rl;  
  -webkit-writing-mode:vertical-rl;
}
#jinrishici-sentence-quanwen{	

    letter-spacing:5px;	
        }
.s-content {
    width:75%;
    margin: auto; 
    text-align:left;
    margin-top: 40px;
    } 
.s-title{
    text-align:left;
    padding-top:9px;
    padding-bottom: 40px;
    margin-left: 15px;
    padding-right: 15px;
}
.s-author{
    text-align:left;
    padding-top: 40px;
}
.s-content-juzi {
    width:75%;
    margin: auto; 
    text-align:left;
    margin-top: 40px;
    } 
.s-title-juzi{
    text-align:left;
    padding-top:9px;
    margin-left: 15px;
    padding-right: 15px;
}
.s-author-juzi{
    text-align:left;
    padding-top: 40px;
}
    }

@media all and (orientation : portrait){ /* 竖屏的样式 */
 .s-content {
     letter-spacing:2px;
    }  
.s-title{
     letter-spacing:2px;	
}
.s-author{
    letter-spacing:2px;	 
}
.s-content-juzi {
     letter-spacing:4px;
    }  
.s-title-juzi{
     letter-spacing:2px;	
}
.s-author-juzi{
    letter-spacing:2px;	 
}
} 

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)

    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
   /* background-image: linear-gradient(to top, #C7B897 20%, #C7B897 80%);*/
	
}
.bgTop {
    z-index: 4;
    opacity: 0.4;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.65;
}
.bgBottom {
    z-index: 5;
	opacity: 0.5;
}

.wave {
    position: absolute;
    left: 0;
    /*width: 200%;*/
    width: 3840px;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 960px 70px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 960px 100px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 25s linear infinite;
}
.waveBottom {
    background-size: 960px 80px;
}
.waveAnimation .waveBottom {
    animation: move_wave 30s linear infinite;
}